.landing-holder {
  z-index: 10;
  overflow: hidden;
  position: absolute;
  display: flex;
  height: calc(100% - 80px);
  top: 0;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
  justify-content: center;
  margin-top: 80px;
  padding: 0 6rem;
}

.left-landing-container {
  overflow-x: hidden;
  display: flex;
  justify-self: flex-start;
  height: 100%;
  width: 60%;
  background: rgba(134, 132, 132, 0.15);
  backdrop-filter: blur(2px);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
}

.node-container {
  display: flex;
  justify-self: flex-start;
  height: 100%;
  width: 60%;
  background: rgba(134, 132, 132, 0.15);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.5rem;
  z-index: 1;
  color: whitesmoke;
}

.align-intro {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.landing {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: #e6e9e9;
  pointer-events: none;
  width: 100%;
}

.animation-holder {
  margin-top: 80px;
}

.greeting-animation,
.typed-cursor {
  margin-top: 30px;
  font-size: 40px;
}

.greeting-animation {
  color: #6e9075;
}
.my-name {
  font-family: "Michroma", sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 6rem;
  z-index: 30;
  font-weight: bold;
  margin-bottom: 20px;
}

.fullstack {
  font-weight: bold;
  font-size: 24px;
  font-family: "Michroma", sans-serif;
}
.my-role {
  text-align: center;
  font-size: 24px;
  /* color: #edf2f4; */
}

.my-role span {
  font-family: "Michroma", sans-serif;
  margin: 0;
}

.my-intro {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  width: 100%;
  /* color: #edf2f4; */
  font-family: "Michroma", sans-serif;
  font-style: normal;
  align-items: center;
  /* padding: 0 6rem; */
}

.intro-talk {
  color: #1c1c1c;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 20px;
  line-height: 2rem;
  font-weight: 500;
  max-width: 600px;
  text-align: center;
}
/*
@media (max-width: 700px) {
  .my-intro {
    font-size: 3rem;
  }

  .landing-holder {
    padding: 3rem 3rem 6rem 3rem;
  }

  .static-holder {
    display: none;
  }
}

/* RESPONSIVE MARGINS FOR TITLES */
/*
@media (max-width: 900px) {
  .my-intro {
    font-size: 3rem;
  }
  .intro-talk {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .landing-holder {
    padding: 3rem 2rem 6rem 2rem;
  }

  .static-holder {
    display: none;
  }
  .about-holder .about-me-intro {
    margin: 6rem 2rem 2rem 2rem !important;
  }
  .about-section-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #projects-intro,
  #contact-heading {
    margin: 6rem 2rem 2rem 2rem;
  }

  .contact-container {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
} */
