* {
    font-family: 'Share Tech Mono', monospace;
}

.test-svg {
    transform: scale(1);
}

.landing-holder {
    /* background-image: url('../assets/bg.svg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    /* background: linear-gradient(to right, rgba(245, 245, 245, 0.383rgba(245, 245, 245, 0.284).8)), url('../assets/bg.svg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 8rem 6rem 12.5rem;
}


.align-intro {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.landing {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    /* flex-direction: column; */
    color: #e6e9e9;
    width: 100%
}

.animation-holder {
    margin-top: 80px;
}

.greeting-animation,
.typed-cursor {
    margin-top: 30px;
    font-size: 40px;
}

.greeting-animation {
    /* color: #3dff94; */
    color: #6E9075;
    /* color: #6E9075; */

}

.my-name,
.my-role {
    /* color: #6E9075; */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #9076fc, #6de1e7);
    /* color: #3dff94; */
    font-weight: 200;
}

.my-intro {
    font-size: 4rem;
    width: 100%;
}

.intro-talk {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-size: 20px;
}

@media (max-width: 700px) {
    .my-intro {
        font-size: 3rem;
    }

    .landing-holder {
        padding: 3rem 3rem 6rem 3rem;
    }

    .static-holder {
        display: none;
    }
}
@media (max-width: 900px) {
    .my-intro {
        font-size: 3rem;
    }

    .landing-holder {
        padding: 3rem 3rem 6rem 6.5rem;
    }

    .static-holder {
        display: none;
    }
}
