.email {
  background-image: url("../images/email.svg");
}

.linkedin {
  background-image: url("../images/linkedin.svg");
}

.github {
  background-image: url("../images/github-sign.svg");
}

.social-about {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.github,
.linkedin,
.email {
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-size: contain;
}

#contact-holder {
  border-radius: 1rem;
  background: #1c1c1c;
  margin: 0 6rem;
  padding: 3rem;
}

.social-links {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  gap: 15px;
}

.social-title {
  font-size: 20px;
  color: #edf2f4;
}

.social-email {
  color: #edf2f4;
}

.social-holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socials-container-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.social-desc {
  color: #edf2f4;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
}

/* @media (max-width: 900px) {
}

@media (max-width: 501px) {
  .social-holder {
    flex-direction: column;
    gap: 20px;
  }
} */
