/*? **NAVBAR** ?*/
.navbar {
    position: sticky;
    display: flex;
    /* width: 100%; */
    /* background-color: #d5d5d7; */
    background-color: #edf2f4;
    height: 50px;
    /* position: fixed; */
    top: 0;
    z-index: 1000;
    padding: 1rem 6rem;
    justify-content: space-between;
    /* padding-left: 2%; */
    border-bottom: 1px solid rgba(153, 150, 150, 0.493);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25),
        0 10px 16px -18px rgba(0, 0, 0, .3);
}

.navbar-logo {
    width: fit-content;
    ;
    font-size: 2rem;
    display: flex;
    align-items: center;
    /*
    background-image: url('../images/dmLogo.svg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-size: 100%; */
    /* width: 100%; */
    /* background-position: center; */
}

.logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.navbar a {
    /* color: #151c29; */
    height: 100%;
    text-decoration: none;
}

/*? **LINK HOLDER** ?*/
.link-holder {
    display: flex;
    flex-direction: row;
    font-family: 'Arial', monospace;
    /* font-family: 'Share Tech Mono', monospace; */
    color: #3dff94;
    align-items: center;
    font-size: 18px;
    /* 5dfff0*/
}

/*? **PAGE LINKS** ?*/
.page-links {
    column-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* padding-right: 2%; */

    /* width: 80%; */
}

.page-links a {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    font-family: 'Arial', monospace;
    /* font-family: 'Share Tech Mono', monospace; */
    border-bottom: 0;
}

.page-links a:hover {
    color: #6E9075;
    transition: ease-in-out .2s;

}

.page-links a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ef233c;
    transition: width ease-in-out .2s;
    border-radius: 18px;
}

.page-links a:hover::after {
    width: 100%;
}

/*? **RESUME** ?*/
.resume {
    /* z-index: 33; */
    /* text-align: center; */
    /* border: rgba(190, 190, 190, 0.493) 1px solid; */
    /* width: 90px; */
    border-radius: 5%;
}


.resume a {}

/* .resume a:hover::after {
    width: 0;
} */

/*? **RESUME LINK** ?*/
.resume-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.resume-link:hover {
    color: #e6e9e9;
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; */
}

#resume-link {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}


/*
.page-links a:last-child {
    width: 90px;
    border: rgba(190, 190, 190, 0.493) 1px solid;
    border-radius: 5%;
    margin-left: 40px;
}

.page-links a:last-child:before {
    content: none
} */
