/*? **NAVBAR** ?*/
.navbar {
  position: fixed;
  display: flex;
  height: 80px;
  z-index: 1000;
  padding: 1rem 6rem;
  justify-content: space-between;
  /* color: #edf2f4; */
  top: 0;
  left: 0;
  right: 0;
}
.has_scrolled {
  background-color: #f7f7f7;
  /* backdrop-filter: blur(30px); */
  border-bottom: 1px solid #afafaf8f;
}

.navbar-logo {
  width: fit-content;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  /* color: #edf2f4; */
  font-family: "Michroma", sans-serif;
  font-style: normal;
}

.logo-holder {
}

.navbar a {
  height: 100%;
  text-decoration: none;
}

/*? **LINK HOLDER** ?*/
.link-holder {
  height: 100%;
}

.link-holder a {
  display: flex;
  align-items: center;
}

.contact-link-holder {
  display: flex;
  background-color: #1c1c1c;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.contact-link-holder a {
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: #f7f7f7;
}

/*? **PAGE LINKS** ?*/
.page-links {
  column-gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page-links a {
  border-bottom: 0;
  transition: ease-in-out 0.2s;
}

.page-links a:hover {
  transition: ease-in-out 0.2s;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ee6bff, #ffaa4b);
}

.page-links a::after {
}

.page-links a:hover::after {
  width: 100%;
}

/*? **RESUME** ?*/
.resume {
  border-radius: 5%;
}

.resume a {
}

/*? **RESUME LINK** ?*/
.resume-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#resume-link {
  display: flex;
}

.hamburger {
  display: none;
}

.open_ham {
  display: none;
}
.ham-nav {
  display: none;
}
